@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base/settings';
@import './components/home';
@import './components//login';
@import './components/page';
@import './components/app';
@import './components/print';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .bg-ticprofile{
    background-color: #eeeeee !important;
  }